<div class="artworks-section" [ngClass]="colorValue!">
  <h1>A R T W O R K S</h1>
  <br>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis laudantium nobis iste commodi necessitatibus facere! Non quaerat incidunt soluta id velit eveniet debitis nostrum quidem iure ipsum. Qui beatae commodi doloremque perferendis distinctio id, consequuntur vitae quia numquam dicta illum cum et laboriosam modi incidunt quae nemo eligendi minima deserunt.</p>
  <hr>
  <div class="gallery">
      <a href="#"><img src="../../assets/img/artworks/mareArt.png" alt="Mare"></a>
      <hr>
      <a href="#"><img src="../../assets/img/artworks/wylowArt.png" alt="Wylow"></a>
      <hr>
      <a href="#"><img src="../../assets/img/artworks/presenceArt.png" alt="Presence"></a>
      <hr>
      <a href="#"><img src="../../assets/img/artworks/voxArt.png" alt="Vox"></a>
      <hr>
      <a href="#"><img src="../../assets/img/artworks/unnamedPlanet.png" alt="Unnamed Planet"></a>
  </div>
</div>
