<!-- <div>
  <h1 style="text-align: center;">{{ title }}</h1>
</div> -->

<app-header-menu></app-header-menu>

<app-home-section></app-home-section>

<app-about-section></app-about-section>

<app-resume-section></app-resume-section>

<app-artworks-section></app-artworks-section>


<footer>
  <div class="upper-footer logos">
      <a href="https://www.deviantart.com/zeem00" target="_blank"><img src="logos/deviantart.png" alt="DeviantArt"></a>
      <a href="https://www.linkedin.com/in/erick-carvalho-40a7471ba/" target="_blank"><img src="logos/linkedin.png" alt="LinkedIn"></a>
      <a href="https://github.com/zeemb0 " target="_blank"><img src="logos/github.png" alt="GitHub"></a>
      <a href="https://www.instagram.com/solturne/" target="_blank"><img src="logos/instagram.png" alt="Instagram"></a>
      <a href="https://www.facebook.com/profile.php?id=100007842797572" target="_blank"><img src="logos/facebook.png" alt="Facebook"></a>
      <!-- <a href="#"><img src="logos/twitter.jpg" alt="Twitter"></a> -->
  </div>
  <div class="bottom-footer copyrights">
      <p>Developed by: <b>Erick Carvalho</b></p>
      <p>Mail me <a href="mailto:erickcarvalho.contato20@gmail.com">@Erick Carvalho</a></p>
  </div>
</footer>
