
<div class="header">
  <div [ngClass]="colorValue" class="header-menu">
    <header class="navigation-links">
      <a href="#">About</a>
      <a href="#">Resume</a>
      <a href="#">Artworks</a>

      <label class="theme-label">Tema claro:</label>
      <input type="checkbox" id="theme-checkbox" (click)="changeValue()">
      <!-- <button (click)="alertaClick()">Testing</button> -->
    </header>
  </div>

  <app-home-section></app-home-section>
</div>

<app-about-section [colorValue]="colorValue"></app-about-section>

<app-resume-section [colorValue]="colorValue"></app-resume-section>

<app-artworks-section [colorValue]="colorValue"></app-artworks-section>


<footer [ngClass]="colorValue">
  <div class="upper-footer logos" style="min-height: 65px;">
      <a href="https://www.deviantart.com/zeem00" target="_blank"><img src="../assets/img/logos/deviantart.png" alt="DeviantArt" title="DeviantArt"></a>
      <a href="https://www.linkedin.com/in/erick-carvalho-40a7471ba/" target="_blank"><img src="../assets/img/logos/linkedin.png" alt="LinkedIn" title="LinkedIn"></a>
      <a href="https://github.com/zeemb0 " target="_blank"><img src="../assets/img/logos/github.png" alt="GitHub" title="GitHub" style="width: 70px; height: 70px;"></a>
      <a href="https://www.instagram.com/solturne/" target="_blank"><img src="../assets/img/logos/instagram.png" alt="Instagram" title="Instagram"></a>
      <a href="https://www.facebook.com/profile.php?id=100007842797572" target="_blank"><img src="../assets/img/logos/facebook.png" alt="Facebook" title="Facebook"></a>
      <!-- <a href="#"><img src="logos/twitter.jpg" alt="Twitter"></a> -->
  </div>
  <div class="bottom-footer copyrights">
      <p>Developed by: <b>Erick Carvalho</b></p>
      <p>Mail me <a href="mailto:erickcarvalho.contato20@gmail.com">@Erick Carvalho</a></p>
  </div>
</footer>
