<div class="resume-section">
  <h1>R E S U M E</h1>
  <br>
  <p>Suspendisse mauris orci, imperdiet a nunc sodales, bibendum pharetra augue. Aenean id lacus rutrum orci congue dignissim. In sem orci, convallis eu nisl in, egestas tincidunt lectus. Etiam id aliquam tellus. Ut non velit efficitur, semper nisi vitae, commodo eros. Aenean ac sapien metus. In augue mi, rutrum a turpis sit amet, iaculis facilisis libero. Cras ultrices auctor lacinia. Quisque non ante enim.</p>
  <hr>
  <div class="resume-data">
      <div class="basic-info">
          <h2 style="padding-left: 25px;">LOREM</h2>
          <p><b>Lorem:</b> Lorem</p>
          <p><b>Lorem:</b> 99/99/9999</p>
          <p><b>Lorem:</b> Lorem</p>
      </div>
      <hr>
      <div class="school-info">
          <h2 style="padding-left: 25px;">LOREM</h2>
          <p><b>Lorem:</b> AAAAAAAAAAAAAAAAAAAAA</p>
          <p><b>Lorem:</b> AAAAAAAAAAAAAAAAAAAAA</p>
          <p><b>Lorem:</b> AAAAAAAAAAAAAAAAAAAAA</p>
          <p><b>Lorem:</b> AAAAAAAAAAAAAAAAAAAAA</p>
          <p><b>Lorem:</b> AAAAAAAAAAAAAAAAAAAAA</p>
          <p><b>Lorem:</b> AAAAAAAAAAAAAAAAAAAAA</p>
          <p><b>Lorem:</b> AAAAAAAAAAAAAAAAAAAAA</p>
          <p><b>Lorem:</b> AAAAAAAAAAAAAAAAAAAAA</p>
          <p><b>Lorem:</b> AAAAAAAAAAAAAAAAAAAAA</p>
      </div>
      <hr>
      <div>
          <h2 style="padding-left: 25px;">LOREM</h2>
          <p><b>Lorem:</b> Lorem</p>
          <p><b>Lorem:</b> 99/99/9999</p>
          <p><b>Lorem:</b> Lorem</p>
          <h2 style="padding-left: 25px;">LOREM 2</h2>
          <p><b>Lorem:</b> Lorem</p>
          <p><b>Lorem:</b> 99/99/9999</p>
          <p><b>Lorem:</b> Lorem</p>
      </div>

      <div>
          <h2 style="padding-left: 25px;">LOREM</h2>
          <p><b>Lorem:</b> Lorem</p>
          <p><b>Lorem:</b> Lorem</p>
          <p><b>Lorem:</b> Lorem</p>
          <p><b>Lorem:</b> Lorem</p>
          <p><b>Lorem:</b> Lorem</p>
          <p><b>Lorem:</b> Lorem</p>
          <p><b>Lorem:</b> Lorem</p>
          <p><b>Lorem:</b> Lorem</p>
          <p><b>Lorem:</b> Lorem</p>
      </div>

      <div>
          <p><img src="/src/assets/img/misc/250x350.jpg" alt="PlaceholderImage"></p>
      </div>
  </div>
  <br>

<!-- PLACEHOLDER BUTTONS, in the near future the may change functions and/or be fully functional;
<button class="hire-me-button"><a href="#">Hire Me</a></button>
<button class="cv-download-button"><a href="#">Download CV</a></button> -->

  </div>
