<div class="about-section" [ngClass]="colorValue!">
  <h1>A B O U T</h1>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempor ex vitae tristique pellentesque. Integer finibus, lacusnon vestibulum tempus, turpis ligula tempor magna, at semper justo sem a tortor. Ut quis quam dui. Praesent id massa elit. Duisa quam lacinia, ultrices massa sit amet, ullamcorper lorem. Vivamus ac blandit turpis, quis fermentum lectus. Donec finibus estet ex facilisis interdum. Pellentesque venenatis neque id elementum blandit. Sed nisi justo, luctus sit amet erat sit amet,finibus aliquet diam. Aenean laoreet nulla quis eros placerat pellentesque. In hac habitasse platea dictumst. Donec lectusvelit, dignissim ullamcorper velit quis, dignissim ullamcorper nulla.</p>
  <p>Suspendisse mauris orci, imperdiet a nunc sodales, bibendum pharetra augue. Aenean id lacus rutrum orci congue dignissim. Insem orci, convallis eu nisl in, egestas tincidunt lectus. Etiam id aliquam tellus. Ut non velit efficitur, semper nisi vitae,commodo eros. Aenean ac sapien metus. In augue mi, rutrum a turpis sit amet, iaculis facilisis libero. Cras ultrices auctorlacinia. Quisque non ante enim.</p>
  <br>
  <br>
  <hr>
  <h2 style="float:left; margin-left: 25px; margin-right: 15px;">Lorem1</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim labore cum illum numquam atque amet quibusdam! Neque quae saepequi autem culpa. Explicabo, cumque quisquam. Ipsam omnis dolores magnam repellendus accusamus impedit itaque sapiente vitaeplaceat quas fugiat dolore rem, cupiditate dignissimos repellat error officiis doloribus facilis natus, quia ipsum?</p>
  <br>
  <h2 style="float:left; margin-left: 25px; margin-right: 15px;">Lorem2</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, error tempora. Commodi natus repellendus dolor sequi earum!Tempore voluptatum veniam, atque culpa delectus perspiciatis blanditiis.</p>
</div>
