.header-menu {
  width: 95%;
  height: 45px;
  margin: auto;
  position: sticky;
  top: 15px;
  /* background-color: #000000dc; */
  /* background-color: rgb(20, 17, 24); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: hidden;
  border-radius: 30px;
}

.false{
  background-color: rgb(117, 107, 130);
}

.true{
  background-color: rgb(20, 13, 29);
}

.navigation-links a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 25px;
  margin-left: 25px;
  margin-right: 25px;
  vertical-align: middle;
}

.navigation-links a:hover {
  background-color: rgba(0, 0, 0, 0.904);
  border-radius: 10px;
  transition: background-color 1s;
}

.theme-label{
  font-size: 16px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 5px;
  margin-left: 200px;
  margin-right: 5px;
  vertical-align: middle;
}

#theme-checkbox {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 12px;
  vertical-align: middle;
  border: 2px solid rgb(243, 243, 243);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

#theme-checkbox:checked {
  background-color: rgb(43, 43, 43);
}
/* .theme-checkbox{
  margin-left: 5px;
  margin-right:   5px;
} */
