/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Cutive Mono", monospace;
  background-image: url("./img/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
body h1{
  padding-top: 15px;
  text-align: center;
  text-decoration: underline;
}

footer{
  background-color: rgb(20, 17, 24);
  width: 100%;
  bottom: 0;
  /* min-height: 50px; */
}
.upper-footer{
  width: 80%;
  /* min-height: 100px; */
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.upper-footer a{
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 11px;
  margin-bottom: 9px;
}
.upper-footer img{
  width: 32px;
  height: 32px;
}

.bottom-footer{
  font-size: 16px;
  color: white;
  background-color: rgb(39, 39, 39);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bottom-footer p{
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.bottom-footer a{
  text-decoration: none;
  color: rgb(218, 218, 218);
  font-weight: bold;
}
